@use '../index' as *;

.layout-footer {
  background-color: $gray-300;

  .footer-inner {
    max-width: 1112px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
    margin: 0 auto;
  }

  .copyright {
    strong {
      font-weight: $font-weight-bold;
    }
  }
}
