@use '../index' as *;

.layout-footer {
  background-color: $gray-300;

  .footer-inner {
    max-width: 1112px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 24px;
    margin: 0 auto;
    text-align: center;
  }

  .copyright {
    strong {
      font-weight: $font-weight-bold;
    }
  }
}

/* 미디어 쿼리 */
@include mobile {
  .layout-footer {


    .footer-inner {
      padding-block: 40px;
    }
  }
}

