@use '../index' as *;

.layout_header {
  background-color: $main-color;

  .header_inner {
    max-width: 1112px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    margin: 0 auto;
  }

  .tab_list {
    height: 50px;
    display: flex;
    align-items: center;
  }
}

.sticky {

  position: fixed;
  top: 0;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  background-color: $main-color;
}

.navibar {
  position: sticky;
  top: -53Px;
  z-index: 999;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}