@use '../index' as *;

.layout-header {
  background-color: $main-color;

  .header-inner {
    max-width: 1112px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    margin: 0 auto;
  }

  .tab-list {
    height: 50px;
    display: flex;
    align-items: center;
  }

  .logo {
    color: $black;
    font-size: $font-size-lg;
    line-height: $line-height-lg;
    font-weight: 900;
    gap: 4px;
  }
}


.navibar {
  position: sticky;
  top: -62px;
  z-index: 999;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}