@use '../index' as *;

.main_banner {
  margin: 20px 0 40px;

  .swiper-pagination {
    position: unset;
    margin: 8px 0;

    &-bullet-active {
      background-color: $primary-color;
    }
  }
}

.card-item {
  border-radius: $border-radius-md;
  overflow: hidden;
  border: 1px solid $gray-200;
  position: relative;

  .card-img {
    max-height: 500px;
    width: 100%;

    img {
      transition: scale 0.3s ease-in-out;
    }

    &:hover {
      img {
        scale: 1.1;
      }
    }
  }

  .card-content {
    background-color: $white;
    padding: 16px;
    gap: 4px;

    .title {
      font-weight: $font-weight-m;
      line-height: $line-height-md;

      > h6 {
        width: calc(100% - 100px);
      }
    }

    .date {
      color: $gray-600;
      font-size: $font-size-xs;
      line-height: $line-height-xs;
      text-align: right;
    }
  }

  .badge {
    position: absolute;
    z-index: 1;
    top: 16px;
    left: 16px;
  }
}