@use '../index' as *;

.main-banner {
  margin: 20px 0 10px;

  .card-item {
    height: 100%;
  }

  .swiper {
    &-pagination {
      position: unset;
      margin-top: 8px;

      &-bullet-active {
        background-color: $primary-color;
      }
    }
  }
}

.only-img-swiper {
  position: relative;

  .swiper {
    &-pagination-fraction {
      position: absolute;
      z-index: 11;
      bottom: 16px;
      right: 16px;
      left: initial;
      top: initial;
      background-color: rgba($black, 0.5);
      padding: 2px 8px;
      border-radius: $border-radius-lg;
      color: $white;
      font-size: $font-size-xs;
      line-height: $line-height-xs;
      font-weight: $font-weight-bold;
    }
  }
}

