@use '../index' as *;

.main-banner {
  margin: 20px 0 10px;

  .swiper-pagination {
    position: unset;
    margin-top: 8px;

    &-bullet-active {
      background-color: $primary-color;
    }
  }
}

