@use '../index' as *;

.card-item {
  border-radius: $border-radius-md;
  overflow: hidden;
  border: 1px solid $gray-200;
  position: relative;

  .card-img {
    max-height: 500px;
    width: 100%;

    img {
      transition: scale 0.3s ease-in-out;
    }

    &:hover {
      img {
        scale: 1.1;
      }
    }
  }

  .card-content {
    background-color: $white;
    padding: 16px;
    gap: 4px;

    .title {
      font-weight: $font-weight-m;
      line-height: $line-height-md;

      > h6 {
        width: calc(100% - 100px);
      }
    }
  }

  .badge {
    position: absolute;
    z-index: 1;
    top: 16px;
    left: 16px;
  }
}

.chart-item {
  gap: 8px;

  .chart-img {
    max-width: 80px;
  }

  .card-content {
    gap: 8px;
    flex: auto;

    .char-info {
      display: flex;
      flex-direction: column;


      gap: 4px;
      font-size: $font-size-md;
      line-height: $line-height-xl;
      font-weight: $font-weight-m;


      span:nth-child(2) {
        color: $gray-500
      }
    }

    .chart-rank {
      align-items: center;
      width: 40px;

      .rank {
        font-size: $font-size-xl;
        line-height: $line-height-xl;
      }

      .num {

        &.up {
          color: $primary-color
        }

        &.down {
          color: $blue
        }
      }


    }

    .chart-factor {
      align-self: flex-end;

    }
  }
}

.post-item {
  gap: 8px;

  .post-img {
    max-width: 160px;
  }

  .post-content {
    width: calc(100% - 168px);
    justify-content: space-between;

    .post-title {
      font-size: $font-size-md;
      line-height: $line-height-md;
      font-weight: $font-weight-m;
    }

    .post-desc {
      font-size: $font-size-sm;
      line-height: $line-height-sm;
      color: $gray-800;
    }

    .post-info {
      display: flex;
      justify-content: flex-end;
      @include groupLine(1px, 10px, $gray-400, 4px)
    }
  }
}

.prod-item {
  display: flex;
  flex-direction: column;

  .prod-content {
    padding: 4px;
    gap: 16px;
    display: flex;
    flex-direction: column;

    .prod-title {
      display: flex;
      align-items: center;
      gap: 4px;
      font-size: 0;

      .title {
        font-size: $font-size-md;
        line-height: $line-height-md;
        font-weight: $font-weight-m;
      }

    }

    .prod-price {
      display: flex;
      align-items: flex-end;
      gap: 8px;
      font-weight: $font-weight-m;
      font-size: $font-size-md;
      line-height: $line-height-md;

      .percent {
        color: $main-color;
        font-size: $font-size-xl;
        line-height: $line-height-xl;
        font-weight: $font-weight-bold;
      }

      .price {
        text-decoration: line-through;
        color: $gray-400
      }

    }
  }
}

.credit-item {
  border-bottom: 1px solid $gray-200;
  padding: 16px 4px;

  &:last-of-type {
    border-bottom: 0;
  }

  .credit-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    font-weight: $font-weight-m;

    &.top {
      justify-content: flex-start;
    }

    &.middle {
      font-size: $font-size-md;
      line-height: $font-size-md;
      padding-block: 10px;

      span:last-child {
        flex-shrink: 0;
      }
    }

    &.btm {
      font-size: $font-size-sm;
      line-height: $font-size-sm;
      color: $gray-500;

      .date {
        color: $gray-500;
        font-size: $font-size-sm;
        line-height: $font-size-sm;

      }
    }
  }
}

.date, .writer {
  color: $gray-600;
  font-size: $font-size-xs;
  line-height: $line-height-xs;
  text-align: right;
}

/* 미디어 쿼리 */
@include mobile {
  .card-item {
    .card-img {
      max-height: 280px;
    }

    .card-content {
      .title {
        font-size: $font-size-sm;
        line-height: $line-height-sm;
      }
    }
  }
  .chart-item {
    gap: 4px;

    .chart-img {
      max-width: 60px;
      min-width: 60px;
    }

    .card-content {
      gap: 4px;

      .char-info {
        font-size: $font-size-sm;
        line-height: $line-height-sm;
      }

      .chart-rank {
        .rank {
          font-size: $font-size-md;
          line-height: $line-height-md;
        }
      }

      .chart-artist {
        justify-content: space-between;
      }
    }
  }

  .prod-item {
    .prod-content {
      gap: 8px;

      .prod-title {
        .title {
          font-size: $font-size-sm;
          line-height: $line-height-sm;
        }
      }

      .prod-price {
        font-size: $font-size-sm;
        line-height: $line-height-sm;

        span {
          padding-bottom: 2px;
        }


        .percent {
          padding-bottom: 0;
          font-size: $font-size-lg;
          line-height: $line-height-lg
        }
      }
    }
  }
}