@use '../index' as *;

.top-margin {
  margin-top: 40px;
}

.list-container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .list-title {
    font-size: $font-size-lg;
    line-height: $line-height-lg;
    font-weight: $font-weight-bold;

    .sub-title {
      font-size: $font-size-md;
      line-height: $line-height-md;
      font-weight: $font-weight-m;
      color: $gray-700;
    }
  }

  .list-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &.grid {
    &-4 {
      .list-content {
        display: grid;
        grid-template-columns: repeat(4, 1fr)
      }
    }

    .list-content {
      display: grid;
      grid-template-columns: repeat(3, 1fr)
    }
  }
}


/* 미디어 쿼리 */
@include sm-tablet {
  .list-container {
    &.grid {
      &-4 {
        .list-content {
          display: grid;
          grid-template-columns: repeat(2, 1fr)
        }
      }

      .list-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr)
      }
    }
  }
}

@include mobile {
  .list-container {
    &.grid {
      &-4 {
        .list-content {
          display: grid;
          grid-template-columns: repeat(2, 1fr)
        }
      }

      .list-content {
        display: grid;
        grid-template-columns: repeat(1, 1fr)

      }
    }
  }
}

