/* color */
$gray-20: #FDFDFD;
$gray-50: #FAFAFA;
$gray-100: #F5F5F5;
$gray-200: #E9EAEB;
$gray-300: #D5D7DA;
$gray-400: #A4A7AE;
$gray-500: #717680;
$gray-600: #535862;
$gray-700: #414651;
$gray-800: #252B37;
$gray-900: #101828;
$black: #000;
$white: #fff;

$main-color: #FFB1B2;
$primary-color: #FD5BA8;
$blue: #5B71FDFF;

/* font */
$font-size-xxs: 10px;
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 24px;

$line-height-xxs: 16px;
$line-height-xs: 18px;
$line-height-sm: 20px;
$line-height-md: 24px;
$line-height-lg: 28px;
$line-height-xl: 30px;

$font-weight-r: 400;
$font-weight-m: 500;
$font-weight-semi: 600;
$font-weight-bold: 700;

/* border-radius*/
$border-radius-xl: 50em;
$border-radius-lg: 32px;
$border-radius-md: 16px;
$border-radius-sm: 8px;
$border-radius-xs: 4px;


